* {
    margin: 0;
    padding: 0;
}

body {
    background: #45447b;
}

.portada {
    height: 80vh;
    background: #706fd3;
    color: #fff;
    border-width: 1rem;
    border-color: rgba(0, 0, 0, 0.1);
    border-bottom-style: solid;
    border-radius: 5px;
}

.up {
    position: fixed;
    bottom: 15px;
    right: 15px;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #e1306c;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-width: 0.5rem;
    border-color: rgba(0, 0, 0, 0.1);
    border-bottom-style: solid;
}

.navbar-inicio {
    background-color: #333;
    overflow: hidden;
}

.navbar-inicio a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar-inicio a:hover {
    background-color: #706fd3;
    color: white;
}


/*----- seccion de como funciona----- */

.comoFunciona {
    color: #fff;
    margin-top: 9%;
    padding: 10px;
    height: 100vh;
    background: #2d98da;
}


/*----- seccion de contacto----- */

.tweet-box {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11%;
}

.tweet-box p {
    margin-bottom: 0;
}

.contactoCaja {
    display: flex;
    justify-content: center;
    background-color: #343a40;
    padding-bottom: 5%;
    padding-top: 5%;
}

.perfil {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin-right: 10px;
}

.descripcion-perfil {
    color: #fff;
    background-color: rgb(10, 116, 249);
    border-width: 0.5rem;
    border-color: rgba(0, 0, 0, 0.1);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    border-color: rgba(0, 0, 0, 0.1);
    border-bottom-style: solid;
    border-radius: 10px;
    width: 65%;
}


/* --------footer------- */

footer .redes-sociales {
    background: #212529;
    padding: 60px 0 0 0;
}

footer .redes-sociales .contenedor {
    display: flex;
    justify-content: center;
}

footer .redes-sociales a {
    color: #fff;
    text-align: center;
    width: 50px;
    display: block;
    padding: 10px 0;
    border-radius: 3px;
    font-size: 15px;
    margin: 0 5px;
    border-width: 0.5rem;
    border-color: rgba(0, 0, 0, 0.1);
    border-bottom-style: solid;
}

footer .redes-sociales .facebook {
    background: #3b5998;
}

footer .redes-sociales .insta {
    background: #e1306c;
}
footer .redes-sociales .twitter {
    background: #1da1f2;
}
footer .redes-sociales .youtube {
    background: #ff0000;
}
footer .redes-sociales .patreon {
    background: #f96854;
}

footer .autor {
    color: rgb(134, 142, 150);
    font-size: 0.8rem;
    display: flex;
    margin-top: 25px;
    justify-content: end;
    margin-left: 10px;
}

@media screen and (min-width: 320px) and (max-width: 736px) {
    .container {
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    ..portada {
        height: 70vh;
      }
    .navbar-inicio a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 12px 14px;
        text-decoration: none;
        font-size: 13px;
    }
    .contactoCaja {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #343a40;
        padding-bottom: 5%;
        padding-top: 5%;
    }
    .perfil {
        width: 60px;
        height: 60px;
        margin-bottom: 10px;
    }
    .descripcion-perfil {
        font-size: 15px;
    }
    .descripcion-perfil p {
        text-align: center;
    }
    .tweet-box {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44%;
    }
    footer .redes-sociales .contenedor {
        flex-wrap: wrap;
        padding: 10px 0;
    }
    footer .redes-sociales a {
        width: 50px;
        border-width: 0.5rem;
        border-color: rgba(0, 0, 0, 0.1);
        border-bottom-style: solid;
    }
    footer .redes-sociales .facebook {
        padding: 5px;
        font-size: 15px;
    }
    footer .redes-sociales .insta {
        padding: 5px;
        font-size: 15px;
    }
    footer .redes-sociales .twitter {
        padding: 5px;
        font-size: 15px;
    }
    footer .redes-sociales .youtube {
        padding: 5px;
        font-size: 15px;
    }
    footer .redes-sociales .patreon {
        padding: 5px;
        font-size: 15px;
    }
    footer .autor {
        font-size: 0.6rem;
    }
}
