* {
    margin: 0;
    padding: 0;
}

body {
    background: #45447b;
}

.portada {
    height: 70vh;
    background: #706fd3;
    color: #fff;
    border-width: 1rem;
    border-color: rgba(0, 0, 0, 0.1);
    border-bottom-style: solid;
    border-radius: 5px;
}

.up {
    position: fixed;
    bottom: 15px;
    right: 15px;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #E45E4E;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


/* Add a black background color to the top navigation */

.navbar-inicio {
    background-color: #333;
    overflow: hidden;
}


/* Style the links inside the navigation bar */

.navbar-inicio a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


/* Change the color of links on hover */

.navbar-inicio a:hover {
    background-color: #706fd3;
    color: white;
}


/* Add a color to the active/current link */

.navbar-inicio a.active {
    background-color: #4CAF50;
    color: white;
}


/*----- seccion de como funciona----- */

.comoFunciona {
    color: #fff;
    margin-top: 9%;
    padding: 10px;
    height: 100vh;
    background: #2d98da;
}


/*----- seccion de contacto----- */

.contactoCaja {
    display: flex;
    justify-content: center;
    background-color: #2f3338;
    padding-bottom: 5%;
    padding-top: 5%;
}

.perfil {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin-right: 10px;
}

.descripcion-perfil {
    color: #fff;
    background-color: rgb(10, 116, 249);
    border-width: 0.5rem;
    border-color: rgba(0, 0, 0, 0.1);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    border-color: rgba(0, 0, 0, 0.1);
    border-bottom-style: solid;
    border-radius: 10px;
}


/* --------footer------- */


/* 
footer {
    background-color: #1e1f1f;
    padding: 1% 0% 2% 0%;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
} */

footer .redes-sociales {
    background: #1e1f1f;
    padding: 60px 0;
}

footer .redes-sociales .contenedor {
    display: flex;
    justify-content: center;
}

footer .redes-sociales a {
    color: #fff;
    text-align: center;
    width: 100px;
    display: block;
    padding: 15px 0;
    border-radius: 3px;
    font-size: 25px;
    margin: 0 10px;
}

footer .redes-sociales .facebook {
    background: #3b5998;
}

footer .redes-sociales .insta {
    background: #e1306c;
}

@media screen and (min-width: 320px) and (max-width: 736px) {
    .container {
        width: 90%;
    }
    .navbar-inicio a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 12px 14px;
        text-decoration: none;
        font-size: 13px;
    }
    .contactoCaja {
        padding: 15px;
        padding-bottom: 15px;
        padding-top: 15px;
    }
    .perfil {
        width: 70px;
        height: 70px;
        margin-top: 50px;
    }
    .descripcion-perfil {
        font-size: 15px;
    }
    .descripcion-perfil p {
        text-align: center;
    }
    footer .redes-sociales .contenedor {
        flex-wrap: wrap;
        padding: 10px 0;
    }
    footer .redes-sociales a {
        width: 50px;
        border-width: 0.5rem;
        border-color: rgba(0, 0, 0, 0.1);
        border-bottom-style: solid;
    }
    footer .redes-sociales .facebook {
        padding: 5px;
        font-size: 15px;
    }
    footer .redes-sociales .insta {
        padding: 5px;
        font-size: 15px;
    }
}