/* pagina de comentarios */

* {
    margin: 0;
    padding: 0;
}

body {
    background: #f2f2f2;
}

.navbar-comentarios {
    background-color: #212529;
    overflow: hidden;
}


/* Style the links inside the navigation bar */

.navbar-comentarios a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


/* Change the color of links on hover */

.navbar-comentarios a:hover {
    background-color: #0663da;
    color: white;
}


/* Add a color to the active/current link */

.navbar-comentarios a.active {
    background-color: #4CAF50;
    color: white;
}

.contactoCajaMensajes {
    display: flex;
    justify-content: center;
    background-color: #2f3338;
    padding-bottom: 5%;
    padding-top: 5%;
}

.perfil-mensaje {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin-right: 10px;
}

.descripcion-perfil-mensaje {
    display: flex;
    align-items: center;
    color: #fff;
    background-color: rgb(10, 116, 249);
    border-width: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    border-color: rgba(0, 0, 0, 0.1);
    border-bottom-style: solid;
    border-radius: 10px;
}


/* pantalla para celulares */

@media screen and (min-width: 320px) and (max-width: 736px) {
    .navbar-comentarios {
        color: #f2f2f2;
        text-align: center;
        text-decoration: none;
    }
    .contactoCajaMensajes {
        background-color: #0663da;
        padding: 15px;
        padding-bottom: 15px;
        padding-top: 15px;
    }
    .perfil-mensaje {
        width: 70px;
        height: 70px;
        margin-right: 10px;
        margin-top: 15px;
    }
    .descripcion-perfil-mensaje {
        font-size: 15px;
    }
    .descripcion-perfil-mensaje p {
        text-align: center;
    }
}