.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
}

.card:hover {
    background: #fff;
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.2);
}

.card::before {
    content: '';
    position: absolute;
    bottom: -70%;
    left: -120%;
    width: 100%;
    height: 100%;
    background: #7300ab;
    transition: .8s;
    z-index: -1;
    box-sizing: border-box;
    border-top: 5px solid #430064;
    transform: skewX(-5deg);
}

.card:hover::before {
    left: -50%;
}

.card::after {
    content: '';
    position: absolute;
    bottom: -70%;
    right: -120%;
    width: 100%;
    height: 100%;
    background: #ff0;
    transition: .8s;
    z-index: -1;
    box-sizing: border-box;
    border-top: 5px solid #ef9b0f;
    transform: skewX(-5deg);
}

.card:hover::after {
    right: -50%;
}

.titulo-pelea {
    padding: 0;
}

.titulo-pelea h2 {
    width: 100%;
    margin: 0;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    transition: 0.5s;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #6564bd;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
}


/* .titulo-pelea:hover h2 {
    background: #ff0057;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
} */

.row1 {
    display: flex;
    justify-content: center;
}

.row2 {
    text-align: center;
    align-items: center;
}

.row3 {
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.row4 {
    display: flex;
    justify-content: center;
}

.row4 h4 {
    font-family: 'Press Start 2P', cursive;
}

.contendienteCaja:nth-child(1) h3 {
    text-align: center;
    padding: 25px;
}

.contendienteCaja:nth-child(2) h3 {
    text-align: center;
    padding: 25px;
}

.versus {
    width: 50px;
    height: 50px;
    font-size: 24px;
    border-radius: 50%;
    background: #e91e63;
    color: #fff;
    text-align: center;
    line-height: 50px;
    margin: 50px auto;
}

.date {
    font-family: 'Press Start 2P', cursive;
    font-size: 19px;
}

.contendiente1 {
    margin-top: 10px;
    background: #ef9b0f;
    border-color: rgba(0, 0, 0, 0.1);
    border-bottom-style: solid;
    border-radius: 5px;
    border-width: 0.5rem;
    width: 40%;
}

.contendiente2 {
    margin-top: 10px;
    background: #ef9b0f;
    border-color: rgba(0, 0, 0, 0.1);
    border-bottom-style: solid;
    border-radius: 5px;
    border-width: 0.5rem;
    width: 40%;
}

.team1 img,
.team2 img {
    width: 60%;
}

@media screen and (min-width: 320px) and (max-width: 736px) {
    .row1 h3 {
        font-size: 15px;
    }
    .row2 {
        margin-top: 35px;
    }
    .team1 img,
    .team2 img {
        width: 100%;
    }
    .row3 {
        margin-top: 15px;
    }
    .row4 {
        display: none;
    }
    .contendiente1,
    .contendiente2 {
        display: flex;
        justify-content: center;
    }
    .team-name1,
    .team-name2 {
        font-size: 12px;
    }
    .versus {
        margin: 0;
    }
}